@font-face {
    font-family: "Basic Sans Alt-Black";
    src: url(../fonts/BasicSansAlt-Black.otf);
}
@font-face {
    font-family: "Basic Sans Alt-BlackIt";
    src: url(../fonts/BasicSansAlt-BlackIt.otf);
}
@font-face {
    font-family: "Basic Sans Alt-Light";
    src: url(../fonts/BasicSansAlt-Light.otf);
}
@font-face {
    font-family: "Basic Sans Alt-SemiBold";
    src: url(../fonts/BasicSansAlt-SemiBold.otf);
}
@font-face {
    font-family: "Noto Sans CJKtc-Light";
    src: url(../fonts/NotoSansCJKtc-Light.otf);
}