doctype html
html.no-js
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title Shift Studio
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(property='og:site_name', content='Shift Studio')
      meta(property='og:type', content='website')
      meta(property='og:title', content='Shift Studio')
      meta(property='og:url', content='')
      meta(property='og:image', content='')
      meta(property='og:description', content='')
      <meta name="apple-mobile-web-app-title" content="Shift Studio">
      <meta name="application-name" content="Shift Studio">
      <meta name="theme-color" content="#ffffff">
      link(rel='icon', sizes='16x16', href='images/favicon-16x16.png')
      link(rel='icon', sizes='32x32', href='images/favicon-32x32.png')
      link(rel='icon', sizes='192x192', href='images/android-chrome-192x192.png')
      link(rel='icon', sizes='256x256', href='images/android-chrome-256x256.png')
      link(rel='apple-touch-icon', sizes='180x180', href='images/apple-touch-icon.png')
      link(rel='apple-touch-icon', sizes='180x180', href='images/apple-touch-icon.png')
      link(rel='msapplication-TileImage', sizes='150x150', href='images/mstile-150x150.png')
      link(rel='mask-icon', href='images/safari-pinned-tab.svg')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
      script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
      script(src='js/foundation.min.js')
      script(src='js/barba.min.js')
      script(src='js/anime.min.js')
      script(src='js/jquery.kinetic.min.js')
      script(src='js/app.js')
      link(rel='stylesheet', href='css/foundation.css')
      link(rel='stylesheet', href='css/styles.css')
      //- <!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
      //- <!-- Advanced options: -->
      //- <!-- data-align="left" -->
      //- <!-- data-overlay="true" -->
      <script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#4b7cb7" data-apps="JTdCJTIybGluZSUyMjolMjJqYW5jeTEyMTUlMjIsJTIyZmFjZWJvb2slMjI6JTIyNTM5Mzc3OTA2MTI3MjcwJTIyLCUyMmVtYWlsJTIyOiUyMnNoaWZ0c3R1ZGlvY29AZ21haWwuY29tJTIyJTdE"></script>
    block styles
    block script

  body#barba-wrapper
    .loader-gif
    .loader-top
    .loader-bottom
    //- .wrapper.barba-container
    .border-hack-top
    .border-hack-left
    .border-hack-bottom
    .border-hack-right
    block header
      include ../components/header.pug

    block main
      block content-wrapper
        block content-title
        block main-content
    block footer
      
    block bottom-script 
    
    