extend layouts/index-layout.pug

block script

block main-content
	.content.barba-container.content-loading(data-namespace='error')
		include components/mobile-header.pug
		.error-content
			.error
				p.title 404
				p.sub-title PAGE NOT FOUND
				p.tagline Oops! Something went wrong.
				p.tagline Don't worry though, our secret ninja will take you back to the homepage now
				img(src="images/error.png")