extend layouts/index-layout.pug

block script

block main-content
	.content.barba-container.content-loading(data-namespace='about')
		include components/mobile-header.pug
		.about-content
			.creative-production-block
				img(src="images/about-adv1.png").creative-img-hide
				.about-content-info.creative-production-info.creative-production-info-hide
					span Advantage 1
					p.about-title Innovation
					p Setting our horizons toward the international, we take every project as our own work. We will not be confined to those past clips others has presented, but we gather creative ideas and opinions before structuring our work. Instead of merely executing, we work with our young and agile mind.
					a(href="works.html") WORKS >>
				.clearfix
			.creative-production-triangle
			.strategy-block
				.about-content-info.strategy-info.strategy-info-hide
					span Advantage 2
					p.about-title Stability
					p Having more than hundreds of project executing experiences, we have cooperated with renowned companies, such as Ogilvy, Xiaomi, Samsung, PChome, HP, Acer, Kkbox, to produce works ranging from online advertisements costing hundred thousands of dollars to figure videos that cost million dollars. With stable projecting procedure and qualitied output, we are always capable to conform to distinct commercial demand in a short time.
				img(src="images/strategyBG.png").strategy-img-hide
				img(src="images/strategyBG-flake.svg").strategy-flake.strategy-flake-hide
				.clearfix
			.block-hack
			.performance-block
				.performance-triangle
				.about-content-info.performance-info.performance-info-hide
					span Advantage 3
					p.about-title Integrate
					p We have enduring cooperation relationships with partners including video producers, static photographers, animators, music producers, illustrators, handcrafters, exhibition projectors, performers, and lots of talented people from different fields. We integrate ideas from different fields and operate all kinds of style demanding from our clients simultaneously in the hope of providing our clients diverse choices.
				img(src="images/performanceBG.png").performance-img-hide
				.clearfix
			.team-block
				.about-content-info.team-info.team-info-hide
					span Advantage 4
					p.about-title Young Influence
					p From our internal crews to external cooperating partners, we are mainly formed with 1990’s millennial generation. Grown up in this era, we are familiar with the marketing trends in online market and the propensity of the young generations. We take these into concerns and provide our clients more statistics and opinions during every project cooperation. 
					a(href="members.html") MEMBERS >>
				.team-triangle
					.team-triangle-left
					.team-triangle-right
				.team-img.team-img-hide
					img(src="images/teamBG.png")
			include components/footer.pug
			include components/social.pug