extend layouts/index-layout.pug

block script

block main-content
	.content.barba-container.content-loading(data-namespace='about')
		include components/mobile-header.pug
		.index-content
			section
				p test
				p test
				img(src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&v=2&sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae")
				img(src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&v=2&sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae")
				img(src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&v=2&sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae")
				img(src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&v=2&sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae")
				img(src="https://drscdn.500px.org/user_cover/2673601/q%3D65_m%3D2048/v2?webp=true&v=2&sig=35831f85721ffce294c367eb39c4cf00723b50f5f90ddc4c50f10da83abe2cae")
				include components/social.pug
				//- .new-work-wrap
					h2.font-yellow LATEST WORK
					.divider.bg-white
					- var list = [{img: 'images/new-work.png', serial: '#07', tag: 'SHIFT Work', title: '3M Post-it Online Advertising'}, { img : 'images/new-work.png', serial : '#08', tag: 'SHIFT Work', title: '4M Tap-it Offline Advertising' }]
						each item in list
							a.new-work.font-black
								.new-work-image
									img(src=item.img)
								.new-work-des
									.new-work-des-top
										span.new-work-serial=item.serial
										| /
										span.new-work-tag=item.tag
									.new-work-des-bottom
										p.new-work-title=item.title
					a.new-work-box
						span.new-work-button
