header
	.logo

	nav.nav-menu
		ul
			- var list = [{name: 'About Us', direct: 'index.html', tag: 'about'}, { name : 'Works', direct : 'works.html', tag: 'works' }, { name : 'Members', direct : '#', tag: 'member' }, { name : 'Contact Us', direct : '#', tag: 'contact' }]
				each item in list
					li: a(href=item.direct, data-name=item.tag).font-black=item.name
			